{% extends 'layout.html' %}

{% block body %}

    <h4>Add task:</h4>
    <br>

    <div class="col-8">
    <form action="" class="" method="post">
        <input type="text" class="form-control" placeholder="Task title" id="title" name="title" value="{{request.form.title}}"><br>
        <input type="text" class="form-control" style="height:80px;" placeholder="Task description" id="desc" name="desc" value="{{request.form.desc}}"> <br>
        <input type="date" class="form-control" style="width:180px;" placeholder="Date" name="date" id="date" value="{{request.form.date}}"> <br>
        <input class="btn btn-success" type="submit" value="Add task" name="wyslij"><br><br>
        <input class="btn btn-dark" value="Clear form" onclick="submitFormClear()"><br>
    </form>
    <br><br><br><br>
    {{error}}
    </div>

{% endblock %}
